<nb-card>
  <nb-card-header>Verification Code:</nb-card-header>
  <nb-card-body>
    <input #name nbInput placeholder="Verification Code Ex. 123456">
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="danget" (click)="cancel()">Cancel</button>
    <button nbButton status="success" (click)="submit(name.value)">Send code</button>
  </nb-card-footer>
</nb-card>