<nb-card>
  <nb-card-header>
    Excepiton Logs
  </nb-card-header>
  <nb-card-body>
    <div *ngIf="!loading">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Code</th>
            <th scope="col">Excepiton</th>
            <th scope="col">Excepiton Type</th>
            <th scope="col">Created at</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let log of logs">
            <th scope="row">{{ log.id }}</th>
            <td>{{ log.username }}</td>
            <td>{{ log.code }}</td>
            <td>{{ log.exception }}</td>
            <td>{{ log.exception_type }}</td>
            <td>{{ log.created_at | date: 'dd/MM/yyyy HH:mm' }}</td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>

        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="15">15 items per page</option>
          <option [ngValue]="20">20 items per page</option>
        </select>
      </div>
    </div>

  </nb-card-body>
</nb-card>