<nb-card *ngIf="loaded">
  <div class="row">
    <div class="col-12">
      Max Following: {{ userSettings?.max_following }}
      <ng5-slider [(value)]="userSettings.max_following" [options]="following_max_option">
      </ng5-slider>
    </div>

    <div class="col-md-4 col-12">
      <nb-card size="medium">
        <nb-card-header>
          Follow Settigns
        </nb-card-header>
        <nb-list>
          <nb-list-item>
            <b class="text-center">Number of people to follow in a row</b>
            <ng5-slider [(value)]="userSettings.follow_min" [(highValue)]="userSettings.follow_max"
              [options]="action_options">
            </ng5-slider>
          </nb-list-item>

          <nb-list-item>
            <b class="text-center">Time between each complete request</b>
            <ng5-slider [(value)]="userSettings.follow_time_min" [(highValue)]="userSettings.follow_time_max"
              [options]="time_options">
            </ng5-slider>
          </nb-list-item>
        </nb-list>
      </nb-card>
    </div>
    <div class="col-md-4 col-12">
      <nb-card size="medium">
        <nb-card-header>
          Unfollow Settigns
        </nb-card-header>
        <div class="row m-2">
          <div class="col">
            <b class="text-center">Number of people to unfollow in a row</b>
            <ng5-slider [(value)]="userSettings.unfollow_min" [(highValue)]="userSettings.unfollow_max"
              [options]="action_options">
            </ng5-slider>
          </div>

        </div>
        <div class="row m-2">
          <div class="col">
            <b class="text-center">Time between each complete request</b>
            <ng5-slider [(value)]="userSettings.unfollow_time_min" [(highValue)]="userSettings.unfollow_time_max"
              [options]="time_options">
            </ng5-slider>
          </div>

        </div>
      </nb-card>
    </div>
    <div class="col-md-4 col-12">
      <nb-card size="medium">
        <nb-card-header>
          Likes Settigns
        </nb-card-header>
        <nb-list>
          <nb-list-item>
            <b class="text-center">Number of posts to like in a row</b>

            <ng5-slider [(value)]="userSettings.like_min" [(highValue)]="userSettings.like_max"
              [options]="action_options">
            </ng5-slider>
          </nb-list-item>
          <nb-list-item>
            <b class="text-center">Time between each complete request</b>
            <ng5-slider [(value)]="userSettings.like_time_min" [(highValue)]="userSettings.like_time_max"
              [options]="time_options">
            </ng5-slider>
          </nb-list-item>

        </nb-list>
      </nb-card>
    </div>
  </div>
  <button nbButton (click)="onSubmit()" shape="semi-round" status="info">Save</button>

</nb-card>