<div class="row">
  <div class="col">
    <input #location type="text" nbInput class="form-control" placeholder="Location">
  </div>
  <div class="col">
    <button nbButton (click)="search(location.value)" size="small">Search</button>
  </div>
</div>
<div class="card" *ngIf="places">
  <div class="card-body">
    <table class="table  table-striped">
      <thead>
        <tr>
          <th scope="col">Location</th>
          <th scope="col">City</th>
          <th scope="col">Address</th>
          <th scope="col">Select</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let place of places">
          <td>{{ place.location.name }}</td>
          <td>{{ place.location.city }}</td>
          <td>{{ place.location.address }}</td>
          <td><button nbButton (click)="select(place)" size="small">Select</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div *ngFor="let profile of referenceLocations; let i = index">
    <div class="col-md-8 col-sm-8 col-12">
      <img src="http://clothinglinekickoff.com/wp-content/uploads/2015/07/Location-icon-150x150.png"
        class="card-img align-self-center mr-3" alt="...">
    </div>{{profile.name}}
    <div class="row no-gutters">
      <div class="col-md-8">
        <p class="card-text">Follow Back: {{profile.follow_back}}<br>Total Follow:
          {{ profile.total_follow }}</p>
        <button nbButton size="small">Active</button>
      </div>
    </div>
  </div>
</div>