<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <input #location type="text" nbInput class="form-control" placeholder="Location">
      </div>
      <div class="col">
        <button nbButton (click)="search(location.value)" size="small">Search</button>
      </div>
    </div>
  </div>
</div>


<div class="card" style="width: 100%; height:90%" *ngIf="places">
  <div class="card-body" style="width: 100%; height:90%">
    <table class="table table-responsive table-striped" style="width: 100%; height:95%">
      <thead>
        <tr>
          <th scope="col">Location</th>
          <th scope="col">City</th>
          <th scope="col">Address</th>
          <th scope="col">Select</th>
        </tr>
      </thead>
      <tbody style="width: 100%; height:100%">
        <tr *ngFor="let place of places">
          <td>{{ place.location.name }}</td>
          <td>{{ place.location.city }}</td>
          <td>{{ place.location.address }}</td>
          <td><button nbButton (click)="submit(place)" size="small">Select</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>