<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">Start Bootstrap </div>
  <div class="list-group list-group-flush">
    <a [routerLink]="['/']" class="list-group-item list-group-item-action bg-light">Dashboard</a>
    <ngb-accordion [closeOthers]="true" activeIds="static-1">
      <ngb-panel id="static-1" title="Logs">
        <ng-template ngbPanelContent>
          <a [routerLink]="['/admin/logs']" class="list-group-item list-group-item-action bg-light">Logs1</a>
          <a href="#" class="list-group-item list-group-item-action bg-light">Logs2</a>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
    <ngb-accordion [closeOthers]="true" activeIds="static-2">
      <ngb-panel id="static-2" title="Configurations">
        <ng-template ngbPanelContent>
          <a href="#" class="list-group-item list-group-item-action bg-light">Configurations1</a>
          <a href="#" class="list-group-item list-group-item-action bg-light">Configurations2</a>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
