<nb-card>
  <nb-card-body>
    <nb-actions size="medium">
      <nb-action [icon]="follow_status.icon" [badgeText]="follow_status.badgeText" badgePosition="top right"
        [badgeStatus]="follow_status.badgeStatus">
      </nb-action>
      <nb-action [icon]="like_status.icon" [badgeText]="like_status.badgeText" badgePosition="top right"
        [badgeStatus]="like_status.badgeStatus">
      </nb-action>
    </nb-actions>
    <nb-actions size="medium">
      <nb-action>
        <div class="custom-control custom-switch">
          <input (click)="follow()" [(ngModel)]="follow_status.value" type="checkbox" class="custom-control-input"
            id="customSwitch1">
          <label class="custom-control-label" for="customSwitch1"></label>
        </div>
      </nb-action>
      <nb-action>
        <div class="custom-control custom-switch">
          <input (click)="likes()" [(ngModel)]="like_status.value" type="checkbox" class="custom-control-input"
            id="customSwitch2">
          <label class="custom-control-label" for="customSwitch2"></label>
        </div>
      </nb-action>
    </nb-actions>
  </nb-card-body>
</nb-card>