<div class="card">
  <div class="card-body">
    <form [formGroup]="instagramStoryForm" (ngSubmit)="onSubmit()">
      <div class="row form-group">
        <div class="col-12 ">
          <div class="card mx-auto" style="width: 18rem;">
            <input #file [ngClass]="{ 'is-invalid': submitted && img.errors }" class="form-control"
              formControlName="img" type="file" accept='image/*' (change)="preview(file.files,$event)" />
            <img [src]="imgURL" class="card-img-top" alt="..." *ngIf="imgURL">
            <div *ngIf="submitted && img.errors" class="invalid-feedback">
              <div *ngIf="img.errors.required">One image is required</div>
            </div>
          </div>

        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4 col-12">
          <label>Post Location</label>
          <input nbInput formControlName="post_location" />

          <button nbButton (click)="open(); $event.preventDefault()" size="small">Search</button>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-12 col-md-6 col-lg-6 col-xl-6">
          <label>Favorite Hashtags</label>
          <nb-select placeholder="Favorite Hashtag" formControlName="tagged_hashtag_list" multiple>
            <nb-option value="{{hashtag?.hashtag}}" *ngFor="let hashtag of options?.tagged_hashtag">Comment
              {{hashtag?.id}}
            </nb-option>
          </nb-select>
        </div>

        <div class="form-group col-12 col-md-6 col-lg-6 col-xl-6">
          <label>Favorite Friends</label>
          <nb-select formControlName="tagged_people_list" multiple placeholder="Favorite Friends">
            <nb-option *ngFor="let people of options?.tagged_people" value="{{people?.username}}">{{people?.username}}
            </nb-option>
          </nb-select>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-12 col-md-6 col-lg-6 col-xl-6">
          <label>Recurrent Post</label>
          <nb-select placeholder="Frequency" formControlName="recurrent_post_frequency">
            <nb-option value="once_day">Once a day </nb-option>
            <nb-option value="once_week">Once a week </nb-option>
            <nb-option value="once_month">Once a month </nb-option>
          </nb-select>
        </div>

        <div class="form-group col-12 col-md-6 col-lg-6 col-xl-6">
          <label>Post at</label>
          <input class="form-control" formControlName="post_at" nbInput [placeholder]="start_date_string"
            [ngClass]="{ 'is-invalid': submitted && post_at.errors }" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1">
          <owl-date-time #dt1 [startAt]="start_date"></owl-date-time>
          <div *ngIf="submitted && post_at.errors" class="invalid-feedback">
            <div *ngIf="post_at.errors.required">You need to select a date</div>
          </div>
        </div>
      </div>



      <div class="form-row">
        <div class="form-group col-12 col-md-6 col-lg-6 col-xl-6">
          <label>Tag Friends</label>
          <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
              <span class="input-group-text" id="addon-wrapping">@</span>
            </div>
            <input formControlName="tagged_people1" type="text" nbInput class="form-control" placeholder="Username">
            <input formControlName="tagged_people2" type="text" nbInput class="form-control" placeholder="Username">
            <input formControlName="tagged_people3" type="text" nbInput class="form-control" placeholder="Username">
          </div>
        </div>

        <div class="form-group col-12 col-md-6 col-lg-6 col-xl-6">
          <label>Tag Hashtags</label>
          <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
              <span class="input-group-text" id="addon-wrapping">#</span>
            </div>
            <input formControlName="tagged_hashtag1" type="text" nbInput class="form-control" placeholder="Hashtag">
            <input formControlName="tagged_hashtag2" type="text" nbInput class="form-control" placeholder="Hashtag">
            <input formControlName="tagged_hashtag3" type="text" nbInput class="form-control" placeholder="Hashtag">
          </div>
        </div>
      </div>

      <div class="text-center">
        <button class="btn btn-primary mr-1">Create</button>
        <button class="btn btn-danger mr-1" routerLink="/admin/instagram/posts">Cancel</button>
        <button class="btn btn-secondary" type="reset" (click)="instagramStoryForm.reset()">Reset</button>
      </div>
    </form>
  </div>
</div>