<nb-card>
  <nb-card-body>
    <nb-tabset fullWidth>
      <nb-tab tabTitle="Profiles">
        <reference-profile [referenceProfiles]="referenceProfiles"></reference-profile>
      </nb-tab>
      <nb-tab tabTitle="Hashtags">
        <reference-hashtag [referenceHashtag]="referenceHashtag"></reference-hashtag>
      </nb-tab>
      <nb-tab tabTitle="Locations">
        <reference-location [referenceLocations]="referenceLocations"></reference-location>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>