<div class="card">
  <div class="card-body p-0">
    <div *ngIf="!loading">
      <div class="row m-0">
        <div class="col-sm-6 col-md-4 col-6 pl-0">
          <div class="" style="max-width: 540px;">
            <div class="row no-gutters p-0 ml-0">
              <div class="col-sm-2 col-md-2 col-4 no-gutters">
                <nb-icon class="rounded-circle p-2 mt-4 ml-1" status="info"
                  style="font-size: 3em; background-color:#e8e8e8;" icon="people"></nb-icon>
              </div>
              <div class="col-sm-10 col-md-10 col-8 mt-3">
                <h5 class="card-title mb-0 "> Followers<br>
                </h5>
                <b style="font-size: 1.3em">
                  {{ stats.followers_count | shortNumbers }}
                </b>
                <p class="p-0">
                  <nb-icon class="rounded-circle mt-1 p-0" status="success" style="font-size: 1.5em; "
                    icon="person-add-outline">
                  </nb-icon>
                  <b style="font-size: 1.2em">
                    {{ stats.total_following_back > 0? stats.total_following_back:0 }}
                  </b>
                  <nb-icon class="rounded-circle mt-1" status="danger" style="font-size: 1.5em; "
                    icon="person-remove-outline">
                  </nb-icon>
                  <b style="font-size: 1.2em">
                      {{ stats.total_following_back < 0? stats.total_following_back:0 }}
                  </b>
                </p>
              </div>
            </div>
          </div>
        </div>


        <div class="col-sm-12 col-md-4 col-6">
          <div class="" style="max-width: 540px;">
            <div class="row no-gutters p-0">
              <div class="col-md- col-2 col-4">
                <nb-icon style="font-size: 3em; background-color:#e6e6e6;" class="rounded-circle p-1 mt-1" status="info"
                  icon="heart"></nb-icon>
              </div>
              <div class="col-md-8 col-8">
                <div class="card-body p-0">
                  <h5 class="card-title">Likes</h5>
                  <p class="card-text">
                    {{ stats.total_user_media_likes }} | {{ stats.total_hashtag_media_likes }}
                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="card-text"><small class="text-muted">Last updated
          {{ stats.updated_at | date: 'dd/MM HH:mm' }}</small></p>

    </div>
  </div>
</div>