<button nbButton (click)="open()" size="small">New</button>




<ul class="list-unstyled">
  <li *ngFor="let profile of referenceProfiles; let i = index" class="media">
    <img src="{{profile?.profile_pic_url}}" class="mr-3" width="64px" alt="...">
    <div class="media-body">
      <h5 class="mt-0 mb-1">@{{profile.username}}</h5>
      Follow Back: {{profile.follow_back}}<br>
      Total Follow: {{ profile.total_follow }}
    </div>
  </li>
</ul>