<router-outlet>
    <ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-pulse" [fullScreen]="false">
        <p style="color: white"> Loading... </p>
    </ngx-spinner>
</router-outlet>