<nb-layout>
  <nb-layout-header fixed>
    <nb-icon style="font-size: 2.5em" icon="menu" (click)="toggle()"></nb-icon>
    <nb-user routerLink="./dashboard" color="white" class="nav-item nav-link" [name]="user?.username"
      [picture]="user?.profile_pic_url">
    </nb-user>

    <button nbButton ghost size="medium" status="info">
      <nb-icon icon="power" (click)="logout()"></nb-icon>
    </button>
  </nb-layout-header>

  <nb-sidebar tag="left" responsive="true">
    <nb-menu [items]="items" autoCollapse="true"></nb-menu>
  </nb-sidebar>

  <nb-layout-column>

    <ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-pulse" [fullScreen]="false">
      <p style="color: white"> Loading... </p>
    </ngx-spinner>

    <!-- main app container -->
    <router-outlet></router-outlet>
  </nb-layout-column>

</nb-layout>