<button nbButton (click)="open()" size="small">New</button>
<div class="row">
  <div *ngFor="let profile of referenceHashtag">
    <div class="col-md-8 col-sm-8 col-6">
      <img src="https://www.fraser.k12.mi.us/cms/lib/MI02212020/Centricity/Domain/78/hashtagicon.png"
        class="card-img align-self-center mr-3" alt="...">
      @{{profile.hashtag}}
      <p class="card-text">Follow Back: {{profile.follow_back}}<br>Total Follow:
        {{ profile.total_follow }}</p>
      <button nbButton size="small">Active</button>
    </div>
  </div>
</div>