<nb-card>
  <nb-card-header>Reference:</nb-card-header>
  <nb-card-body>
    <input #name nbInput placeholder="Reference">
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="danget" (click)="cancel()">Cancel</button>
    <button nbButton status="success" (click)="submit(name.value)">Save</button>
  </nb-card-footer>
</nb-card>