<nb-card>
  <nb-card-header>New Post</nb-card-header>
  <nb-card-body>
    <button nbButton hero status="info" routerLink="/admin/instagram/new-post">New</button>
  </nb-card-body>
</nb-card>



<div class="card" *ngIf="loaded">
  <nb-tabset>
    <nb-tab tabTitle="Schedules" badgeText="{{instagramPosts_sheduled?.length}}" badgeStatus="success">
      <div class="row ">
        <div class="col-12 col-md-4 mt-3" *ngFor="let post of instagramPosts_sheduled ">
          <div class="card">
            <div class="card-header">
              Post at: {{post.post_at | date}}
            </div>
            <img [src]="post.post_media[0]?.url" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">
                Posted at: {{post.posted_at | date}}
              </p>
              <p class="card-text" *ngIf="post.post_location">
                Post Location: {{post.post_location.name}}
              </p>
              <p class="card-text" *ngFor="let user_tagged of post.post_user_tags">
                People Tagged: {{user_tagged.username}}
              </p>
              <button nbButton outline size="small" [routerLink]="['/admin/instagram/edit-post', post.id]" status="primary">Editar</button>
            </div>
            <nb-accordion>
              <nb-accordion-item>
                <nb-accordion-item-header>Caption</nb-accordion-item-header>
                <nb-accordion-item-body>
                  {{post.caption}}
                </nb-accordion-item-body>
              </nb-accordion-item>
              <nb-accordion-item>
                <nb-accordion-item-header>Post Comment</nb-accordion-item-header>
                <nb-accordion-item-body>
                  {{post.comment}}
                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>
          </div>
        </div>
      </div>

    </nb-tab>
    <nb-tab tabTitle="Posted" badgeText="{{instagramPosts_posted?.length}}" badgeStatus="warning">
      <div class="row ">
        <div class="col-12 col-md-4 mt-3" *ngFor="let post of instagramPosts_posted ">
          <div class="card">
            <div class="card-header">
              Post at: {{post.post_at | date}}
            </div>
            <img [src]="post.post_media[0]?.url" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">
                Posted at: {{post.posted_at | date}}
              </p>
              <p class="card-text" *ngIf="post.post_location">
                Post Location: {{post.post_location.name}}
              </p>
              <p class="card-text" *ngFor="let user_tagged of post.post_user_tags">
                People Tagged: {{user_tagged.username}}
              </p>
            </div>
            <nb-accordion>
              <nb-accordion-item>
                <nb-accordion-item-header>Caption</nb-accordion-item-header>
                <nb-accordion-item-body>
                  {{post.caption}}
                </nb-accordion-item-body>
              </nb-accordion-item>
              <nb-accordion-item>
                <nb-accordion-item-header>Post Comment</nb-accordion-item-header>
                <nb-accordion-item-body>
                  {{post.comment}}
                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>
          </div>
        </div>
      </div>
    </nb-tab>
  </nb-tabset>
</div>