<div class="card">
  <div class="card-body">
    <form [formGroup]="instagramPostForm" (ngSubmit)="onSubmit()">
      <div class="row form-group">
        <div class="col-12 ">
          <div class="card mx-auto" style="width: 18rem;">
            <input #file [ngClass]="{ 'is-invalid': submitted && img.errors }" class="form-control" formControlName="img"
              type="file" accept='image/*' (change)="preview(file.files,$event)" />
            <img [src]="imgURL" class="card-img-top" alt="..." *ngIf="imgURL">
            <div class="card-body">
              <p class="card-text">{{caption.value}}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{comment_fav.value}}&nbsp;{{comment.value}}</small>
            </div>
            <div *ngIf="submitted && img.errors" class="invalid-feedback">
              <div *ngIf="img.errors.required">One image is required</div>
            </div>
          </div>

        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4 col-12">
          <label>Post Location</label>
          <input nbInput [ngClass]="{ 'is-invalid': submitted && post_location.errors }" 
            formControlName="post_location" [ngClass]="{ 'is-invalid': submitted && post_location.errors }"/>
          
            <button nbButton (click)="open(); $event.preventDefault()" size="small">Search</button>
          <div *ngIf="submitted && post_location.errors" class="invalid-feedback">
            <div *ngIf="post_location.errors.required">You need choose one</div>
          </div>
        </div>

        <div class="form-group col-md-4 col-12">
          <label>Favorite Comments</label>
          <nb-select placeholder="Favorite Comment" formControlName="comment_fav"
            [ngClass]="{ 'is-invalid': submitted && comment_fav.errors }">
            <nb-option value="{{comment?.comment}}" *ngFor="let comment of options?.comments">Comment {{comment?.id}}
            </nb-option>
          </nb-select>
          <div *ngIf="submitted && comment_fav.errors" class="invalid-feedback">
            <div *ngIf="comment_fav.errors.required">You need choose one</div>
          </div>
        </div>

        <div class="form-group col-md-4 col-12">
          <label>Favorite Friends</label>
          <nb-select formControlName="tagged_people_list" [ngClass]="{ 'is-invalid': submitted && comment_fav.errors }" multiple placeholder="Favorite Friends"
            >
            <nb-option *ngFor="let people of options?.tagged_people" value="{{people?.username}}">{{people?.username}}</nb-option>
          </nb-select>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-4 col-6">
          <label>Recurrent Post</label>
          <nb-select placeholder="Frequency" formControlName="recurrent_post_frequency"
            [ngClass]="{ 'is-invalid': submitted && comment_fav.errors }">
            <nb-option value="once_day">Once a day </nb-option>
            <nb-option value="once_week">Once a week </nb-option>
            <nb-option value="once_month">Once a month </nb-option>
          </nb-select>
          <div *ngIf="submitted && recurrent_post_frequency.errors" class="invalid-feedback">
            <div *ngIf="recurrent_post_frequency.errors.required">Select one option</div>
          </div>
        </div>

        <div class="form-group col-md-4 col-12">
          <label>Post at</label>
          <input class="form-control" formControlName="post_at"
            [ngClass]="{ 'is-invalid': submitted && post_at.errors }" nbInput [placeholder]="start_date_string"
            [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1">
          <owl-date-time #dt1 [startAt]="start_date"></owl-date-time>
          <div *ngIf="submitted && post_at.errors" class="invalid-feedback">
            <div *ngIf="post_at.errors.required">You need to select a date</div>
          </div>
        </div>
      </div>



      <div class="form-row">
        <div class="form-group col-md-6 col-12">
          <label>Tag Friends</label>
          <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
              <span class="input-group-text" id="addon-wrapping">@</span>
            </div>
            <input formControlName="tagged_people1" [formControl]="tagged_people1" type="text" nbInput
              class="form-control" placeholder="Username" aria-describedby="addon-wrapping">
            <input formControlName="tagged_people2" type="text" nbInput class="form-control" placeholder="Username"
              aria-label="Username" aria-describedby="addon-wrapping">
            <input formControlName="tagged_people3" type="text" nbInput class="form-control" placeholder="Username"
              aria-label="Username" aria-describedby="addon-wrapping">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 col-12">
          <label>Caption</label>
          <textarea nbInput fullWidth placeholder="Caption" formControlName="caption" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && caption.errors }" rows="3"></textarea>
          <div *ngIf="submitted && caption.errors" class="invalid-feedback">
            <div *ngIf="caption.errors.required">Caption is required</div>
          </div>
        </div>
        <div class="form-group col-md-6 col-12">
          <label>Comment</label>
          <textarea nbInput fullWidth placeholder="Comment" formControlName="comment" rows="3" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && comment.errors }"></textarea>
          <button type="button" class="btn btn-primary mr-1" (click)="createNewComment(); $event.preventDefault()">Save
            Comment</button>
        </div>
      </div>

      <div class="text-center">
        <button class="btn btn-primary mr-1">Create</button>
        <button class="btn btn-danger mr-1" routerLink="/admin/instagram/posts">Cancel</button>
        <button class="btn btn-secondary" type="reset" (click)="instagramPostForm.reset()">Reset</button>
      </div>
    </form>
  </div>
</div>